# Banco de dados SQLite
*.db

# Ambiente virtual
appenv/
ENV/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos temporários de editor
*.swp
*.swo
*.bak
*~

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db
